@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: monospace;
}
@media  screen and (min-width: 1023px){
/* HEADER */
header{
    height: 30vh;
    background-color: black;
}
.nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
.menu li{
    margin: 20px;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: rgb(182, 182, 182);
    font-size: 19px;
    font-weight: bold;
    transition: all 0.5s ease;  
}
.menu li a:hover{
    padding: 5px 10px;
    background-color: rgb(228, 228, 228);
    color: black;
    border-radius: 15px;
}
h1{
    text-align: center;
    color: green;
    margin: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
}
h2{
    text-align: center;
    color: rgb(93, 148, 243);
    margin: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
}
h3{
    text-align: center;
    margin: 50px;
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    color: rgb(232, 62, 6);
}
.logo{
    margin-left: 60px;
    margin-bottom: 20px;
    padding: 20px;
    color: rgb(182, 181, 181);
    border: solid 4px rgb(255, 255, 255);
    border-radius: 10%;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* FLEX */
.container{
    background-color: black;
    height: 450px;
    width: 750px;
    margin: 0 auto;
}
.cajas{
    background-image: linear-gradient(to left,rgb(175, 245, 193),rgb(36, 149, 125));
    height: 100px;
    width: 100px;
    margin: 10px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* GRID */
.containergrid{
    background-color: black;
    height: 610px;
    width: 610px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}
.cajasgrid{
    background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
    height: 200px;
    width: 210px;
    grid-row: 1;
}
.cajasgrid2{
    background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
    height: 200px;
    width: 200px;
    grid-row: 1 ;
    grid-column: 3;
}
.cajasgrid3{
    background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
    height: 200px;
    width: 200px;
    grid-row: 2;
    grid-column: 2;
}
.cajasgrid4{
    background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
    height: 210px;
    width: 210px;
    grid-row: 3;
    grid-column: 1;

}
.cajasgrid5{
    background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
    height: 210px;
    width: 201px;
    grid-row: 3;
    grid-column: 3;
}

/* ANIMACIONES */
.containeranimaciones{
    height: 500px;
    display: flex;
    justify-content: space-around;
}
.cajas1{
    background-image: linear-gradient(blue, red);
    height: 200px;
    width: 200px;
}
.animaciones1{
    transition: height 1s;
}
.animaciones1:hover{
    height: 500px;
    background-image: linear-gradient(blue, red);
}
.cajas2{
    background-image: linear-gradient(rgb(255, 149, 0), rgb(241, 245, 8));
    height: 200px;
    width: 200px;
}
.animaciones2{
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes animation{
    from{
        transform: translatey(200px);
    }
    to{
        transform: translatex(0px);
    }
}
.cajas3{
    height: 200px;
    width: 200px;
    background-color: aquamarine;
}
.animaciones3{
    animation-name: animation2;
    animation-duration: 10s;
    animation-delay: 2s;
}
@keyframes animation2{
    0%  {background: red;}
    25% {background: green;}
    50% {background: blue;}
    75% {background: rgb(237, 100, 235);}
    100% {background: yellow;}
}
/* FOOTER */
footer{
    margin-top: 100px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}
h4{
    color: rgb(232, 232, 232);
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    margin-right: 240px;
}
.footeremail{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.footeremail img{
    height: 40px;
    background-color: white;
    border-radius: 60px;
}
.linkedin{
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.linkedin img{
    height: 40px;
    border-radius: 10px;
    background-color: white;
}
}
@media screen and (max-width: 480px), (max-width: 1023px){
    header{
        height: 40vh;
        background-color: black;
    }
    .nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu{
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    .menu li{
        margin: 20px;
        list-style: none;
    }
    .menu li a{
        text-decoration: none;
        color: rgb(182, 182, 182);
        font-size: 19px;
        font-weight: bold;
        transition: all 0.5s ease;  
    }
    .menu li a:hover{
        padding: 5px 20px;
        background-color: rgb(228, 228, 228);
        color: black;
    }
    h1{
        text-align: center;
        color: green;
        margin: 50px;
        font-family: 'Rubik', sans-serif;
        font-size: 40px;
    }
    h2{
        text-align: center;
        color: rgb(93, 148, 243);
        margin: 50px;
        font-family: 'Rubik', sans-serif;
        font-size: 40px;
    }
    h3{
        text-align: center;
        margin: 50px;
        font-family: 'Rubik', sans-serif;
        font-size: 40px;
        color: rgb(232, 62, 6);
    }
    .logo{
        margin-right: 200px;
        margin-bottom: 5px;
        padding: 20px;
        color: rgb(182, 181, 181);
        border: solid 4px rgb(255, 255, 255);
        border-radius: 10%;
        font-size: 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    /* FLEX */
    .container{
        background-color: black;
        height: 350px;
        width: 300px;
        margin: 0 auto;
    }
    .cajas{
        background-image: linear-gradient(to left,rgb(175, 245, 193),rgb(36, 149, 125));
        height: 50px;
        width: 50px;
        margin: 10px;
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* GRID */
    .containergrid{
        background-color: black;
        height: 310px;
        width: 310px;
        margin: 0 auto;
    
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .cajasgrid{
        background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
        height: 100px;
        width: 105px;
        grid-row: 1;
    }
    .cajasgrid2{
        background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
        height: 105px;
        width: 100px;
        grid-row: 1 ;
        grid-column: 3;
    }
    .cajasgrid3{
        background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
        height: 105px;
        width: 105px;
        grid-row: 2;
        grid-column: 2;
    }
    .cajasgrid4{
        background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
        height: 102px;
        width: 102px;
        grid-row: 3;
        grid-column: 1;
    
    }
    .cajasgrid5{
        background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
        height: 100px;
        width: 102px;
        grid-row: 3;
        grid-column: 3;
    }
    
    /* ANIMACIONES */
    .containeranimaciones{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .cajas1{
        background-image: linear-gradient(blue, red);
        height: 200px;
        width: 200px;
        margin: 20px;
    }
    .animaciones1{
        transition: height 1s;
    }
    .animaciones1:hover{
        height: 500px;
        background-image: linear-gradient(blue, red);
    }
    .cajas2{
        background-image: linear-gradient(rgb(255, 149, 0), rgb(241, 245, 8));
        height: 200px;
        width: 200px;
        margin: 20px;
    }
    .animaciones2{
        animation-name: animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes animation{
        from{
            transform: translatey(200px);
        }
        to{
            transform: translatex(0px);
        }
    }
    .cajas3{
        height: 200px;
        width: 200px;
        background-color: aquamarine;
        margin: 50px;
    }
    .animaciones3{
        animation-name: animation2;
        animation-duration: 10s;
        animation-delay: 5s;
    }
    @keyframes animation2{
        0%  {background: red;}
        25% {background: green;}
        50% {background: blue;}
        75% {background: rgb(237, 100, 235);}
        100% {background: yellow;}
    }
    /* FOOTER */
    footer{
        margin-top: 100px;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        background-color: rgb(0, 0, 0);
    }
    h4{
        color: rgb(232, 232, 232);
        font-family: 'Poppins', sans-serif;
        font-size: 60px;
        margin-right: 240px;
    }
    .footeremail{
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
    }
    .footeremail img{
        height: 40px;
        background-color: white;
        border-radius: 60px;
    }
    .linkedin{
        color: white;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
    }
    .linkedin img{
        height: 40px;
        border-radius: 10px;
        background-color: white;
    }
}


@media screen and (max-width:480px){
    header{
        height: 40vh;
        background-color: black;
    }
    .nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu{
        padding: 40px;
        display: flex;
        justify-content: space-around;
    }
    .menu li{
        margin: 20px;
        list-style: none;
    }
    .menu li a{
        text-decoration: none;
        color: rgb(182, 182, 182);
        font-size: 19px;
        font-weight: bold;
        transition: all 0.5s ease;  
    }
    .menu li a:hover{
        padding: 5px 10px;
        background-color: rgb(228, 228, 228);
        color: black;
        border-radius: 15px;
    }
    h1{
        text-align: center;
        color: green;
        margin: 50px;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
    }
    h2{
        text-align: center;
        color: rgb(93, 148, 243);
        margin: 50px;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
    }
    h3{
        text-align: center;
        margin: 50px;
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        color: rgb(232, 62, 6);
    }
    .logo{
        margin-left: 60px;
        margin-bottom: 20px;
        padding: 20px;
        color: rgb(182, 181, 181);
        border: solid 4px rgb(255, 255, 255);
        border-radius: 10%;
        font-size: 40px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    /* FLEX */
    .container{
        background-color: black;
        height: 200px;
        width: 200px;
        margin: 0 auto;
    }
    .cajas{
        background-image: linear-gradient(to left,rgb(175, 245, 193),rgb(36, 149, 125));
        height: 25px;
        width: 25px;
        margin: 10px;
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* GRID */
    .containergrid{
        background-color: black;
        height: 200px;
        width: 200px;
        margin: 0 auto;
    
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    }
    .cajasgrid{
        background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
        height: 70px;
        width: 70px;
        grid-row: 1;
    }
    .cajasgrid2{
        background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
        height: 70px;
        width: 61px;
        grid-row: 1 ;
        grid-column: 3;
    }
    .cajasgrid3{
        background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
        height: 70px;
        width: 70px;
        grid-row: 2;
        grid-column: 2;
    }
    .cajasgrid4{
        background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
        height: 60px;
        width: 70px;
        grid-row: 3;
        grid-column: 1;
    
    }
    .cajasgrid5{
        background-image: linear-gradient(to left,rgb(0, 119, 255),rgb(137, 175, 210));
        height: 60px;
        width: 61px;
        grid-row: 3;
        grid-column: 3;
    }
    
    /* ANIMACIONES */
    .containeranimaciones{
        height: 500px;
        display: flex;
        justify-content: space-around;
    }
    .cajas1{
        background-image: linear-gradient(blue, red);
        height: 200px;
        width: 200px;
    }
    .animaciones1{
        transition: height 1s;
    }
    .animaciones1:hover{
        height: 500px;
        background-image: linear-gradient(blue, red);
    }
    .cajas2{
        background-image: linear-gradient(rgb(255, 149, 0), rgb(241, 245, 8));
        height: 200px;
        width: 200px;
    }
    .animaciones2{
        animation-name: animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes animation{
        from{
            transform: translatey(200px);
        }
        to{
            transform: translatex(0px);
        }
    }
    .cajas3{
        height: 200px;
        width: 200px;
        background-color: aquamarine;
    }
    .animaciones3{
        animation-name: animation2;
        animation-duration: 10s;
        animation-delay: 5s;
    }
    @keyframes animation2{
        0%  {background: red;}
        25% {background: green;}
        50% {background: blue;}
        75% {background: rgb(237, 100, 235);}
        100% {background: yellow;}
    }
    /* FOOTER */
    footer{
        margin-top: 100px;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        background-color: rgb(0, 0, 0);
    }
    h4{
        color: rgb(232, 232, 232);
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        margin-right: 70px;
    }
    .footeremail{
        color: white;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
    }
    .footeremail img{
        height: 20px;
        background-color: white;
        border-radius: 60px;
    }
    .linkedin{
        color: white;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
    }
    .linkedin img{
        height: 20px;
        border-radius: 10px;
        background-color: white;
    }
}